.container{
    background: #acababc4;
    max-width: 350px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--main-color);
    
}

.cont{
    background:url("suplierImg/back45.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container form .title{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
    color:rgb(255, 208, 0);
}

.container form .title::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 33px;
    bottom: 3px;
    left: 0;
    border-radius: 5px;
    background: linear-gradient(to right, #99004D 0%, #ff0080 100%);
}


.container form .input-box{
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
    
}

.container form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 16px;
    border: none;
}


.container form .underline:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #ccc;
    left: 0;
    bottom: 0;
}

.container form .underline:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    /* background: linear-gradient(to right, #99004D 0%, #ff0080 100%); */
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;

}

.container form .input-box input:focus ~ .underline:after
{
    transform: scaleX(1);
    transform-origin: left;
}

.container form .button{
    margin: 40px 0 20px 0;
}


.container form .input-box input[type="submit"]{
    font-size: 17px;
    color: #ffff;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(to right, #00e1ff 0%, #2200ff 100%);
    transition: all 0.3s ease;
}


.container form .input-box input[type="submit"]:hover{
    letter-spacing: 1px;
    background: linear-gradient(to right, #2200ff 0%, #00e1ff 100%);
}

.container .option{
    font-size: 14px;
    text-align: center;

}

.container form .input-box input[type="file"]{
    font-size: 10px;
    color: #ffff;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(to right, #86f3f9 0%, #8c00ff 100%);
    transition: all 0.3s ease;
}


.container .twitter a,
.container .facebook a{
    display: block;
    width: 100%;
    height: 45px;
    font-size: 15px;
    text-decoration: none;
    padding-left: 20px;
    color: #fff;
    line-height: 45px;
    border-radius: 5px;
}

/* .container .twitter a,
.container .facebook a{
   
} */

.container .twitter a{
    margin: 20px 0 15px 0;
    background: linear-gradient(to left, #00acee 0%, #1abeff 100%);
}


.container .twitter a:hover{
    background: linear-gradient(to right, #00acee 0%, #1abeff 100%);
}


.container .facebook a{
    margin: 20px 0 50px 0;
    background: linear-gradient(to left, #3b5998 0%, #476bb8 100%);
}


.container .facebook a:hover{
    background: linear-gradient(to right, #3b5998 0%, #476bb8 100%);
}

.log{
    margin-top: 10px;
    color: yellow;
}

